@import url('https://fonts.googleapis.com/css?family=Roboto:400,800,900|Open+Sans:400,400i,800,900|Raleway:300,400,600,900|Lexend+Deca:300,400i,700,900&display=swap');



h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 5vh;
  color: #37474F;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

leg {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding-top: 10px;
}

body { 
  transition:all .2s linear; 
  -o-transition:all .2s linear; 
  -moz-transition:all .2s linear; 
  -webkit-transition:all .2s linear;
}

#box {
  display: flex;
  flex-direction: column;
  height:100%;
}

#icons {
  display: none;
}


#navbar {
  background-color: white;
  /* height: 100px; */
  display: flex;
/*   position: fixed; */
  flex-direction: column;
  margin: 00px 0px 1em 0px;
  text-align: center;
  /* flex-grow: 1; */
  height: 20%;
}

.navbar-portrait {
  display: flex;
  flex-direction: column;
}

.navbar-landscape {
  display: none;
}

.bottom-bar {
  z-index: 10;
  background-color: white;
  /* height: 100px; */
  display: flex;
/*   position: fixed; */
  flex-direction: row;
  justify-content: center;
  margin: 1em 0px 0.5em 0px;
  text-align: center;
  /* flex-grow: 1; */
  /* height: 20%; */
}

#logo {
  margin-bottom: -10px;
  z-index: 10;
}

.navlinks-portrait {
  padding: 15px;
  /* padding-right: 15px; */
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #37474F;
}

.navlinks-landscape {
  display: none;
}

#content {
/*   position: relative; */
  background-color: white;
  /* height: calc(100vh - 200px); */
}

#slideshow {
  position: relative;
  /* padding: 20px; */
  background-color: white;
  width: 100%;
  /* height: calc(100vh - 200px); */
  /* flex-grow: 5; */
  height: 80%;
}

.showcase {
  text-align: center;
  flex: 0 0 auto;
  height: 100%;
  color: #37474F;
  /* display: none; */
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  opacity: 0.6;
}

.img {
  margin: auto;
  max-height: 80%;
  max-width: 80%;
  flex: 0 0 auto;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Add a transparency effect for thumbnail images */
.demo {
  opacity: 0.6;
  margin: 3px;
}

.active,
.demo:hover {
  opacity: 1;
}

#content-row {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@media only screen and (orientation: landscape) {
  /* body {
    background-color: white;
  }
}
@media screen and (min-width: 1000px) { */
  #navbar {
  height: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  padding: 40px;
  /* margin-top: 20%; */
  text-align: left;
  }
  
  .navbar-portrait {
    /* display: flex;
    flex-direction: column; */
    display: none;
  }

  .navbar-landscape {
    display: flex;
    flex-direction: column;
  }

  .navlinks-portrait {
    display: none;
  }

  .navlinks-landscape {
    display: flex;
    padding: 3px;
    /* padding-right: 15px; */
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #37474F;
  }

  #icons {
   display: inline;
   margin-top: 10px;
  }
  
  #logo {
    display: flex;
    flex-direction: column;
    width: 10px;
    margin-bottom: 10px;
  }
  
  #slideshow {
    position: relative;
   margin-left: 200px;
  /*   padding: 20px; */
   background-color: white;
   width: 100%;
   height: 100vh;
  }
  
  #content {
    position: relative;
    background-color: white;
    height: calc(100vh - 20px);
  }
  
  #box {
    display: flex;
    flex-direction: row;
  }
  .prev,
  .next {
    margin-top: -50px;
  }
  h4 {
    margin-top: 0px;
  }

  .bottom-bar {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  /* @media screen and (min-width: 1000px) { */
    #content {
  /*   position: relative; */
    background-color: white;
    /* height: calc(100vh - 200px); */
  }
    .img {
    margin-right: 10px;
    margin-left: 10px;
    max-height: 100%;
    max-width: 80%;
    flex: 0 0 auto;
  }
  
    .prev,
    .next {
    margin-top: -50px;
  }

  #navbar {
    text-align: center;
    /* width: 100vw; */
  }

    .navbar-portrait {
      z-index: 8;
      text-align: center;
      justify-content: center;
      align-content: center;
      position: absolute;
      background-color: white;
      width: 96%;
      height: 96%;
    }

    .navlinks-landscape {
      display: none;
      margin-bottom: 1em;
      font-size: 1.5em;
    }

    #menu {
      display: none;
  }

  .icon {
    background: white;
    /* display: block; */
    /* right: 0px;
    top: 0; */
    margin-right: 5px;
    margin-left: 5px;
    opacity: 0.5;
    height: 20px;
  }
    #logo {
      display: inline;
    }
  }